header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: orange;
    color: white;
    padding: 20px;
    width: 100%;
    height: 60px;
}

.logo {
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.favoritos {
    cursor: pointer;
    background-color: white;
    padding: 5px 14px;
    border-radius: 4px;
    text-decoration: none; /* Removendo o sublinhado */
    color: black; /* Ajuste opcional para manter o texto visível */
}
